.App {
  text-align: center;
}
.header{
  display:grid;
  align-items:center;
  background-color:#053E6F;
  height:50px;
}
.homeLinkCont{
  /* display:grid; */
  padding-left: 20px;
}
.footer{
  position: absolute;
  bottom: 0;
  width:100%;
  height:50px;
  background-color: black;
  text-align: center;
  color: white;
}
.centered{
  display:grid;
  justify-items: center;
  padding-bottom: 10px;
}
.addEmpButton{
  width:220px;
  border-radius: 9px;
  /* color:blue; */
}
.viewCont{
  display:grid;
  justify-content: center;
}
.viewEmpContIndiv{
  display: flex;
}